*{
    margin:0px;
    padding:0px;
    font-family: monospace;
}
body{
    background-color: rgb(3, 3, 3);
}
header h1 {
    color: white;
    font-size: 20px;
    margin: 20px;
}
.box{
    max-width:300px;
    margin: auto;
    margin-top:100px;
    
}
.box button{
    width:270px;
    height:70px;
    border-style: hidden;
    background-color: rgb(76, 11, 180);
    font-size: 30px;
    color: white;
    border-radius: 6px;
    margin-top: 100px;
    
}
.box button:hover{
    background-color: rgb(79, 36, 158);
}
.box .score{
    padding-top: 50px;
    color:white;
    font-size: 20px;
    text-align: center;
}
.box h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
  
}
.box #result{
    display: none;
}
footer p{
margin-top:200px ;
text-align: center;
color:rgb(49, 49, 49); ;
}